<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon Trainers Manager</title>
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/png">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Pokémon Trainers Manager</h1>
        <div class="menu">
            <a href="/pokemon" class="menu-button">Pokémon Management</a>
            <a href="/trainers" class="menu-button">Trainers Management</a>
            <a href="/join" class="menu-button">Trainers with Strong Pokémon</a>
        </div>
    </div>
</body>
</html>